/* Language: css */

/* Path: css\responsive.css */

@media(max-width: 667px) { 

    .header {
        background: url(../images/header.jpg) no-repeat center center;
        background-size: cover;
    }

    body{
        background-color: #1E1E26;
        max-width: 100%;
        margin: 0 auto;
        color: white;
        font-family: "Elemental End";
    }

    #pre-loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-size: 20px;
    }

    #head p{
        margin-bottom: 50px;
    }
    
    #head .container-fluid{
        padding: 0% 2% 5%;
    }
    
    img{
        width:150px;
    } 

    .fa-bars{
        color: #fff;
     }

     .nav-link{
        color: white;
    }
    
    .ibm_mono{
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 500;
    }
    
    .ibm_sans{
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
    }

    #head{
        animation: slide 25s infinite alternate;  
        background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    @keyframes slide{
        0%{
             background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
         }
         25% { 
             background-image: url("../images/[Downloader.la]-62915582e8356.jpg");
         }
         50% {
             background-image: url("../images/[Downloader.la]-6291570a57e46.jpg");
         }
         75% {
             background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
         }
         100% {
             background-image: url("../images/[Downloader.la]-62915582e8356.jpg");
         }
     }
     
     .nav-link:hover{
         color: #04804E;
     }
     
     .green:hover{
         /* color: #04804E; */
         font-weight: 900;
         background-color:transparent;
         border-color: #04804E;
         color: #fff;
     }
     
     .my-nav .nav-link.active{
         margin-bottom: -.1rem;
         background: transparent !important;
         background-color: transparent !important;
     }

     .home-body{
        margin-bottom: 7%;
        margin-left: 5%;
        width: 25%;
        height: 450px;
    }
    
    .home-text1{
        font-weight: 400;
    }
    
    .home-text2{
        text-align: left;
    }
    
    .card {
        background-color: rgb(30, 30, 38);
        outline-color: #24242D;
        border: none;
    }
    
    #explore{
        background-size: cover;
    }
    
    .card-group{
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    
    .card-cloud{
        background: url("../images/F.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        border-radius: 15px;
        bottom: 15px;
    }
    
    #explore .card{
        position: relative;
        margin: 1 auto;
    }
    
    #explore .card .card-body{
      position: absolute; 
      bottom: 0; 
      background: rgba(44, 44, 55, 0.7); 
      width: 86.9%; 
    }

    #explore .card .card-body{
        position: absolute; 
        bottom: 0; 
        background: rgba(44, 44, 55, 0.7); 
        width: 86.9%; 
        /* padding: 20px;  */
      }
      
      .card-body1{
          position: absolute; 
          top: 0; 
          background: rgba(44, 44, 55, 0.6); 
          width: 100%; 
          padding: 20px;
          top: 70%; 
          font-size: 10px;
          line-height: 20px;
          font-weight: bolder;
      }
      
      .card-data{
          background: url("../images/E.jpg");
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: auto;
          font-weight: bolder;
          bottom: 15px;
      }

      .card-app{
          background: url("../images/H.jpg");
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: auto;
          bottom: 15px;
      }

      .card-mar{
          background: url("../images/B.jpg");
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: auto;
          bottom: 15px;
      }

      .card-ana{
          background: url("../images/K.jpg");
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: auto;
          bottom: 15px;
      }
      
      .card-cloud:hover, .card-data:hover, .card-app:hover, .card-mar:hover, .card-ana:hover{
          transform: scale(1.05);
          background-size: auto;
          border-radius: 10px;
      }

      #explore .card-body{
        position: absolute; 
        top: 70%; 
        font-size: 10px;
        line-height: 50px;
        font-weight: bolder;
    }
    
    #explore .col-lg-3{
        margin-left: 20%;
    }
    
    
    .card{
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }
    
    .py-3{
        padding: 0 1rem;
        letter-spacing: normal;
    }
    
    .py-5 {
        padding-top: 7rem!important;
        padding-bottom: 3rem!important;
        text-align: center;
        font-size: 16px;
        padding-left: 5px;
    }
    
    
    .py-6 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
        text-align: left;
        padding-left: 25px;
    }
    
    .ps-5{
        padding-left: 0px !important;
        text-align: start;
    }

}



  

 

@media screen and (max-width: 728px) {
 body {
    max-width: 100%;
 }
    #head{
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    } 

#head p .navbar-brand{
    margin: 1rem;
    /* align-items: center; */
}
#head .container{
 width: 100%;
}  
}
#head p{
margin-bottom: 15px;
}
#head img{
    width: 50px;
}
    #head button{

margin-left: 170px;
}
    .navbar-toggler{
font-size: 2rem;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;   
}

.home-body {
    margin-bottom: 2%;
    margin-left: 0;
    width: 100%;
    height: auto;
}
.home-body a{
    margin: 0 0 1.5rem;
}
.home-body .green{
    padding: 0.375rem 1.20rem;;
}
.card-cloud, .card-data, .card-app, .card-mar, .card-ana{
 width: 100%;
 height: auto;
}
#explore .col-sm-12{
    /* width: ; */
}
#about-us:before {
        opacity: 0.2;
        background-position: 25% 0;
        margin-top: 50px 0;
    }
.text {
    margin: 20px;
    text-align: justify;
    line-height: 35px;
}
.second-text p{
    margin: 25px 0;
    line-height: 35px;
    text-align: justify;
    font-size: large;
}

#team .col{
    flex: none;
}

#team .card .card-body {
    width: 70%;
    padding: 1%;
}
.row>* {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
}
.contact{
    width: 85%;
}
}