@font-face {
    font-family: "Elemental End";
    src: url('/css/fonts/ElementalEnd.ttf');
}
@font-face {
    font-family: "ElementalEndItalic";
    src: url('/css/fonts/ElementalEnditalic.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&family=IBM+Plex+Sans&display=swap');


*{
    overflow-x: hidden;  
}

body,html{
    color: white;
    font-family: "Elemental End";
    background-color: #1E1E26;
}
#pre-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-size: 20px;
}
.elemental{
    font-family: "Elemental End";
    font-weight: 400;
}

#head .container-fluid{
    padding: 0% 2% 5%;
}
img{
    width:150px;
}
.fa-bars{
   color: #fff;

}
.nav-brand{
    width: 75%;
}
.nav-link{
    color: white;
}
.ibm_mono{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}
.ibm_sans{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
.offer-btn{
    background-color: transparent;
    border-radius: 5px;
    padding: 6px 21px;
}
.offer-btn:hover{
    background-color:transparent
}
#head{
background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
background-size: cover;
background-repeat: no-repeat
}
 @keyframes slide{
   0% {
   background-image: url("/images/[Downloader.la]-62910a13bfb80.jpg");
    }
    25% {
        background-image: url("/images/[Downloader.la]-62915582e8356.jpg");
    }
   50% {
        background-image: url("/images/[Downloader.la]-6291570a57e46.jpg");
    }
    75% {
        background-image: url("/images/[Downloader.la]-62910a13bfb80.jpg");
         }
    100% {
        background-image: url("/images/[Downloader.la]-62915582e8356.jpg");
    }
 }


 .nav-link:hover{
    color: #04804E;
 }
.home-body{
    margin-bottom: 7%;
    margin-left: 5%;
    width: 50%;
}
.home-text1{
    font-weight: 400;
}
.home-text2{
    text-align: left;
}
#trusted{
    background: #1E1E26;
    display: flex;
    justify-content: center;
}
#trusted h5{
margin-top: 45%;
}

.card {
    background-color: rgb(30, 30, 38);
    outline-color: #24242D;
    border: none
}
.trusted-img{
    width: 90px;
}
#explore{
    background: #24242D; 
    background-size: cover;
}
.card-cloud{
    background: url("../images/Rectangle\ 4368.png");
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 10px;
}
.card-data{
    background: url("../images/Rectangle\ 4368-1.png");
    border-radius: 15px;
    background-size: auto;
    background-repeat: no-repeat;
}
.card-app{
    background: url("../images/Rectangle\ 4368-2.png");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-mar{
    background: url("../images/Rectangle\ 4368-3.png");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-ana{
    background: url("../images/Rectangle\ 4368-4.png");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}
#explore .card-body{
    padding-left: 12px;
    position: absolute; 
    top: 65.7%;
    font-size: 16px;

}
#explore p{
    color:  #fff;
}

#explore .col-lg-3{
    margin-left: 20%;
}
#why{
    background: url("/images/Backgroud.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.why-title{
margin-top: 50px;
}
#why .ibm_mono{
font-style: medium;
}
.why-left{
    margin-top: 50px;
    text-align: right;
}

.why-image{
    margin-top: 90px;
    text-align: center;
}
.why-right{
    margin-top: 50px;

}
.why-icon-left{
    width: 45px;
    position: absolute;
    margin-left: 15px;
}
.why-icon-right{
    width: 45px;
    position: absolute;
    margin-left: -65px;
}
.why-left,.why-right,.ibm_sans,p{
   letter-spacing: 2%;
    color: #CBCBCB;
}
#how label{
    font-size: 1.25rem;
}
select{
    display: inline-block;
    border-width: 0ch;
    background-color: transparent;
}
option{
    background-color: transparent;
    border-width: 0ch;
}

#how  select {
    width: 15%;
    padding: 12px 2px;
    margin: 8px 0;
    color: #04804E;
    display: inline-block;
    border-radius: 10px;
  }
input[class=ibm_mono], select {
    display: inline-block;
    border: 0px solid;
    border-radius: 4px;
  }

#how option{
    width: 10%;
    border: none;
}

#how .card-title{
font-size: small;    
position: relative;
left: 70%;
}
#how .card-text{
    font-size: 14px;
    line-height: 19px; 
    letter-spacing: 0.02em;
}
.how-card{
    background: #2C2C37;
    border-radius: 30px;
}

.how-img{
width: 90%;
filter: drop-shadow(0px 3px 1px #ffd05b);
}

#explore-all{
    background: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.explore-icon{
    width: 45px;
    margin-bottom: 1rem;
}

#how span{
    display: flex;
    position: absolute;
    top: 20%;
    left: -2%;
    height: 50px;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #ffd05b;
    width: 5px;
}

.border-line{
    border: 1px solid  #00FFB0;
}
.explore-grid{
    margin-bottom: 80px;
}
.explore-grid-diff{
    margin-bottom: 60px;
}
.explore-text{
    text-align: center;
}
#explore-all .btn{
    margin-left: 29rem;
}
.explore-btn{
    margin-bottom: 60px;
    margin-left: 50px;
}
#footer{
    background: #24242D;
}
.footer-logo{
    width: 75%;
}
.footer-img{
    width: 20px;
}
#footer .ibm_mono{
    font-weight: 400;
}
#footer h6{
    color: #39F8AC;
}

/* FORM */

.wait-list{
    margin-top:5%;
    margin-left: 10%;
    border-width: 1%;
    border: 1px;
}
.f-text{
  font-size: 25px;
    font-style: Regular;
}

 #form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
#form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 .name{
    font-size: 20px;
 } 
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
.form {
    border-radius: 5px;
    background: linear-gradient(116.29deg, rgba(255, 255, 255, 0.35) -29.94%, rgba(255, 255, 255, 0.26) -29.93%, rgba(255, 255, 255, 0.15) 101.76%),
    linear-gradient(121deg, rgba(255, 255, 255, 0.7) -13.38%, rgba(255, 255, 255, 0) 91.48%);    
border: 1px solid; 
border-image-source: linear-gradient(121deg, rgba(255, 255, 255, 0.7) -13.38%, rgba(255, 255, 255, 0) 91.48%);
box-shadow: -4px -4px 4px 0px rgba(245, 245, 245, 0.11) inset;

box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.15) inset;

padding: 20px;
width: 342px;
height: auto;
  }


/* Reponsiveness */

@media (min-width: 200px) and (max-width: 787px)  {
.container{
    width: 100%;
}
    .home-body{
        width: 100%;
    }

    .parent{
        display: flexbox;
        grid-template-columns: repeat(2, 0.5fr);
        margin: 0 2rem;
        row-gap: 1rem;
        column-gap: 1rem;
    }
    #explore span{
        display: block; 
        padding-top: 10px;
    }
    #explore .card-ana .card-app .card-cloud .card-data .card-mar{
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 50px;
    }
    .py-3{
        padding: 0 1rem;
        letter-spacing: normal;
    }
   

}