@font-face {
    font-family: "Elemental End";
    src: url('fonts/ElementalEnd.ttf');
}
@font-face {
    font-family: "ElementalEndItalic";
    src: url('fonts/ElementalEnditalic.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&family=IBM+Plex+Sans&display=swap');


*{
    overflow-x: hidden;  
}

body,html{
    color: white;
    font-family: "Elemental End";
    background-color: #1E1E26;
}
#pre-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-size: 20px;
}

/* hide scrollbar but allow scrolling */
ul,li {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

ul::-webkit-scrollbar, li::-webkit-scrollbar, div::-webkit-scrollbar, a::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* #pre-loader {
    background: url("../images/ico-apps-bg.svg") center no-repeat #04804E;
} */
.elemental{
    font-family: "Elemental End";
    font-weight: 400;
}
#head img{
    width: 30px;
}

#blog-header img{
    width: 30px;
}

#about-us img{
    width: 30px;
}    
#form-header img{
    width: 30px;
}
#head p{
    margin-bottom: 50px;
}
#head .container-fluid{
    padding: 0% 2% 5%;
}
img{
    width:150px;
}
.fa-bars{
   color: #fff;
}
.nav-brand{
    width: 75%;
}
.nav-link{
    color: white;
}
.ibm_mono{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}

.ibm_sans{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
#head{
    animation: slide 25s infinite alternate;  
    background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes slide{
   0%{
        background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
    }
    25% { 
        background-image: url("../images/[Downloader.la]-62915582e8356.jpg");
    }
    50% {
        background-image: url("../images/[Downloader.la]-6291570a57e46.jpg");
    }
    75% {
        background-image: url("../images/[Downloader.la]-62910a13bfb80.jpg");
    }
    100% {
        background-image: url("../images/[Downloader.la]-62915582e8356.jpg");
    }
}

.nav-link:hover{
    color: #04804E;
}

.green:hover{
    /* color: #04804E; */
    font-weight: 900;
    background-color: transparent;
    border-color: #04804E;
    color: #fff;
}

.my-nav .nav-link.active{
    margin-bottom: -.1rem;
    background: transparent !important;
    background-color: transparent !important;
}

.home-body{
    margin-bottom: 7%;
    margin-left: 5%;
    width: 50%;
    height: 450px;
}

.home-text1{
    font-weight: 400;
}

.home-text2{
    text-align: left;
}



.card {
    background-color: rgb(30, 30, 38);
    outline-color: #24242D;
    border: none;
}

#explore{
    /* background: #24242D;  */
    background-size: cover;
}

.card-group{
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.card-cloud{
    background: url("../images/F.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 15px;
}

.card-data{
    background: url("../images/E.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
    font-weight: bolder;
}
.card-app{
    background: url("../images/H.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-mar{
    background: url("../images/B.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-ana{
    background: url("../images/K.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}

.card-cloud:hover, .card-data:hover, .card-app:hover, .card-mar:hover, .card-ana:hover{
    transform: scale(1.05);
    background-size: auto;
    border-radius: 10px;
}
/* #explore .container{
    width: 100%;
} */
#explore .card-body{
    position: absolute; 
    top: 70%;
    right: 10%; 
    font-size: 20px;
    line-height: 26px;
    font-weight: bolder;
}
#explore .col-lg-3{
    margin-left: 20%;
}

.ps-5{
    padding-left: 0px !important;
    text-align: start;
}

#why{
    background: url("../images/Backgroud.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 50px; */
}
.why-title{
    margin-top: 50px;
}
#why .ibm_mono{
    font-style: medium;
    /* font-size: 20px; */
}
.why-left{
    margin-top: 50px;
    text-align: right;
}

.why-image{
    margin-top: 90px;
    text-align: center;
}

.why-right{
    margin-top: 50px;
}
.why-icon-left{
    width: 45px;
    position: absolute;
    margin-left: 15px;
}
.why-icon-right{
    width: 45px;
    position: absolute;
    margin-left: -65px;
}
.why-left,.why-right,.ibm_sans,p{
   font-size: 16px;
   letter-spacing: 2%;
    color: #CBCBCB;
}

#how label{
    font-size: 1.25rem;
}
select{
    display: inline-block;
    border-width: 0ch;
    background-color: transparent;
}
option{
    background-color: transparent;
    border-width: 0ch;
}

#how .form-control{
    background-color: transparent;
    border-width: 0ch;
    color: #CBCBCB;
}


#how  select {
    width: 7.4%;
    padding: 12px 2px;
    margin: 8px 0;
    color: #04804E;
    display: inline-block;
    border-radius: 10px;
  }

  #how span{
    display: flex;
    position: absolute;
    top: 20%;
    left: -2%;
    height: 50px;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #ffd05b;
    width: 5px;
}
input[class=ibm_mono], select {
    display: inline-block;
    border: 0px solid;
    border-radius: 4px;
  }
#how select.over option:checked,
#how select.over option:hover{
    box-shadow: 0 0 10px 100px green insert;
}
#how select.over:focus > option:checked{
    background: green !important;
}
#how .card-title{
font-size: small;    
position: relative;
left: 70%;
}

#how .card-text{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
}
.how-card{
    background: #2C2C37;
    border-radius: 30px;
}

.how-img{
width: 90%;
filter: drop-shadow(0px 3px 1px #ffd05b);
height: 90%;
}

#explore-all{
    background: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-icon{
    width: 40px;
    margin-bottom: 1rem;
}

.border-line{
    border: 1px solid  #00FFB0;
    width: 140px;
}

.explore-grid{
    margin-bottom: 80px;
}

.explore-grid-diff{
    margin-bottom: 60px;
}

.explore-text{
    text-align: center;
}

#explore-all .btn{
    border-radius: 0rem;
    padding: 0.3rem 3rem;
}

.explore-btn{
    margin-bottom: 60px;
    margin-left: 33rem;
}

#footer{
    background: #24242D;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    width: 20%;
}
.footer-img{
    width: 20px;
}
#footer .ibm_mono{
    font-weight: 400;;
}
#footer h6{
    color: #39F8AC;
}

.footer-title{
    margin-bottom: 1rem;
    text-align: start;
    color: #39F8AC;
    padding-left: 1rem;
}

.footer-text{
    color: #6c757d;
    /* text-align: end; */
    padding-left: 1rem;
    font-size: smaller;
}

.team{
    color: #6c757d;
}

.team:hover{
    color: #39F8AC;
}

.no:hover{
    color: #39F8AC;
}


.title{
    color: #39F8AC;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.team{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.fas{
    color:#39F8AC   
}


/* FORM */

.wait-list{
    margin-top:5%;
    margin-left: 10%;
    border-width: 1%;
    border: 1px;
}
.f-text{
    font-size: 25px;
    font-style: Regular;
}

 #form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
#form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 0px solid;
}

input[type=submit]:hover {
    background-color: #45a049;
}
 #form img{
    width: 40px;
    height: auto;
 } 
 
.frame{
    position: relative;
    right: 10px;
    top: auto;
    
} 
.form {
    background: url(../images/Card.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    /* border: 1px solid; */
    border-radius: 10px;
    width: 400px;
    height: auto;
    left: 10px;
}
.form .nav.nav-pills {
    color: #fff;
}

.form.nav.nav-pills .nav-item {
    margin-bottom: -.1rem;
    background: transparent !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    margin-bottom: -.1rem;
    background: transparent !important;
    background-color: transparent !important;
    border-bottom: 0.3rem solid #04804E;
}

.form .nav.nav-pills .nav-item+.nav-item {
    margin-left: 0
}

.form .nav.nav-pills .nav-link {
    text-transform: capitalize;
    letter-spacing: -.025em;
    color: inherit;
    padding: .9rem 1rem
}

.form .nav.nav-pills .nav-link.active {
    color: inherit
}

.form .nav-fill .nav-item {
    flex: 1 1 0
}

.category{
    text-decoration: none;
    color: #fff;
}


.category:hover{
    color: #fff;
}

#id4 {
	display:inline;
    text-align: left;
}
#id5 {
	margin: 0 auto;
    display:inline;
}

.explore-icon:hover{
    transform: rotate(-40deg);
}

/* ABOUT US */
#about-us{
    position: relative;
}
#about-us:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/AboutBackground.jpg);
    background-repeat: no-repeat;
    opacity: 0.1;
    background-size: cover;
    background-position: 50% 0;
    margin-top: 50px 0;
}
.first-text{
    position: relative;
}

.second-text{
    position: relative;
}

.text-down{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-weight: bolder;
    color: #fff;    
    line-height: 50px;
}
.first-text{
    text-align: center;
}
.text{
    line-height: 30px;
    margin: 50px 200px;
    color: #FFF;
    line-height: 35px;
    /* color: #45a049; */
}
.second-text p{
    margin: 50px 0;
    color: #FFF;
    line-height: 35px;
    font-size: large;
}
#team{
    align-items: center;
}
#team h1{
    text-align: center;
}
#team .card{
    position: relative;
    margin: 0 auto;
}

#team .card .card-body{
  position: absolute; 
  bottom: 0; 
  background: rgba(44, 44, 55, 1); 
  width: 50%; 
  padding: 20px; 
}
#team .card-title{
    font-size: medium;
}

#team .card-img-first{
    height: auto;
}

#team .card-img-third{
    width: 600px;
    height: auto;
    border-bottom-left-radius: 400px;
    border-start-end-radius: 400px;
    border-start-start-radius: 400px;
}


#team .card-text{
    /* color: black; */
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .contact {
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
  }


/* popUp */

#popUp{
    align-items: center; 
    /* margin: 30px;   */
    top: 20%;
    left: 35%;
}
.pop img{
    margin: 50px 0px 50px 100px;
}
.pop {
    background: rgba(225, 225, 225, 1);
    padding: 20px;
    border-radius: 5px 15px;
    width: 400px;
    height: auto;
    color: #2D2D37;
    line-height: 18px;
}
.pop h5{
    margin-left: 30px;
}
.pop p{
    font-size: 13px;
    font-style: medium;
    color: #2D2D37;
}
.pop #join{
    margin-left: 120px;
}
.pop .btn{
    border-radius: 0rem;
}
#error{
    align-items: center; 
    margin: 30px;  
}
#error .pop{
    background-color: #24242D;
    color: #fff;
}
#error p{
    color: #fff;
}
/* contact */

#contact-form input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #contact-form label{
    margin: 0 10px;
    text-align-last: justify;
  }
  #contact-form textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#contact-form input[type=submit] {
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form input[type=submit]:hover {
    background-color: #45a049;
}

#contact .controls{
    margin-left: 400px;
}
#contact .form-group{
    margin: 10 10px;
}

#contact .form-group label{
    margin: 10 10px;
}

#contact .frame {
    width: 40px;
    height: auto;
}


/* Reponsiveness */

@media(max-width: 912px) {
    #head{
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }        
    .home-body{
        width: 100%;
    }
    .home-body a{
        margin-top: 20px;
    }

    .parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }

    .card{
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }
    .py-3{
        padding: 0 1rem;
        letter-spacing: normal;
    }

    .py-5 {
        padding-top: 7rem!important;
        padding-bottom: 3rem!important;
        text-align: left;
        padding-left: 25px;
    }
    
    
    .py-6 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
        text-align: left;
        padding-left: 25px;
    }
    
    /* slider */

    @keyframes fade {
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      
      * {
        padding: 0;
        border: 0;
        box-sizing: border-box;
      }
      
      body {
        height: 100%;
      }
      
      body h1 {
        text-align: center;
      }
      
      .slide-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: auto;
        position: relative;
      }
      
      .slide-container .slide {
        display: none;
        width: 100%;
      }
      
      .slide-container .slide.fade {
        animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      }
      
      .slide-container .slide img {
        width: 100%;
      }
    
      .slide-container .prev,
    .slide-container .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: all 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    .slide-container .prev:hover,
    .slide-container .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }
    
    .slide-container .prev {
      left: 2px;
    }
    
    .slide-container .next {
      right: 2px;
    }
    
    .dots-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    
    .dots-container .dot {
      cursor: pointer;
      margin: 5px;
      width: 20px;
      height: 20px;
      color: #333;
      border-radius: 50%;
      background-color: #00000000;
    }
    
    .dots-container .dot.active {
      border: 2px solid green;
    }
    /* end of slide */

    .trusted-img{
        width: 10%;
        text-align: center;
    }

}
@media (min-width: 200px) and (max-width: 787px)  {
.container{
    width: 100%;
}
    .home-body{
        width: 100%;
    }


    
    .parent{
        display: flexbox;
        grid-template-columns: repeat(2, 0.5fr);
        /* margin: 0 2rem; */
        row-gap: 1rem;
        column-gap: 1rem;
    }
    #explore span{
        display: block; 
        padding-top: 10px;
    }
    #explore .card-ana .card-app .card-cloud .card-data .card-mar{
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 50px;
    }
    .py-3{
        padding: 0 1rem;
        letter-spacing: normal;
    }
}